# Userfile
*.cyprj.*
*.cywrk.*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*/ComponentUpdateLog.txt
*.cycdx
*.cyfit
*.rpt
*.svd
*_timing
*.log

# Folders
*codegen*
*Cortex*
*Expor*
*Debug/
*Generated_*
*Backup/
