# Userfile
*.cyprj.*
*.cywrk.*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*/ComponentUpdateLog.txt
*.cycdx
*.cyfit
*.rpt
.*svd
*_timing

# Folders
*/codegentemp
*/CoretexM3
*/Export
*/Debug
*/Generated_Source
*/Backup
*/codegenTemp
*/DC-Motor-PWM.cywrk*
*/BUILD
